@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@media screen and (max-width: 576px) {
  .banner{
  
    align-items: start;
    margin-top: 250px;
  }
  .banner-img{
  height: 245px;
    width: 100%;
    
  }

  .banner-descriotion{
  margin-top: 28px;

    width: 360px;
    padding: 16px 28px;
  }

.banner-title{
    font-size: 1.5rem;
    margin-bottom: 13px;
  }
  #break{
    display: block;
  }
}


.spin{
  animation-duration: 4s;
}

.join{
  background-image: url('../assets/news-letter-bg.png');
  margin-top: 120px;
}
 